<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hse.projectx.petdonate">
    <application
        android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".main_screen.MainScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main_screen.MainPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".startup.Welcome1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".startup.Welcome2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".startup.ChooseDog"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment.ChooseFood"
            android:screenOrientation="portrait" />
        <activity
            android:name=".startup.FirstScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".startup.SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".info_screens.ShelterInfoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".main_screen.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment.CheckoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".forms.BlankShelterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".forms.BlankPetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main_screen.ShelterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".forms.ThanksBlank"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment.ThanksPayment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main_screen.PetsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".info_screens.PetsInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment.ChooseShelter"
            android:screenOrientation="portrait" />
        <service android:enabled="true" android:name=".utils.MusicServ"/>

        <activity
            android:name=".startup.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>